<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
            id="application"
            point="org.eclipse.core.runtime.applications">
        <application>
            <run
                    class="dts_project.Application">
            </run>
        </application>
    </extension>
    <extension
            point="org.eclipse.ui.perspectives">
        <perspective
                class="dts_project.Perspective"
                name="RCP Perspective"
                id="dts_project.mainPerspective">
        </perspective>
    </extension>
    <extension
            point="org.eclipse.ui.views">
        <view
                class="dts_project.views.catalogExplorerView.CatalogExplorerView"
                id="dts_project.views.catalogExplorerView"
                name="组件库"
                restorable="true">
        </view>
        <view
                class="dts_project.views.propView.PropView"
                id="dts_project.views.propView"
                name="属性窗口"
                restorable="true">
        </view>
        <view
                class="dts_project.views.mainView.MainView"
                id="dts_project.views.mainView"
                name="主窗口"
                restorable="true">
        </view>
        <view
                class="dts_project.views.eventView.EventView"
                id="dts_project.views.eventView"
                name="事件窗口"
                restorable="true">
        </view>
    </extension>
    <extension
            point="org.eclipse.ui.perspectiveExtensions"> 
        <perspectiveExtension
                targetID="dts_project.mainPerspective"> 
            <view
                    id="dts_project.views.catalogExplorerView"
                    ratio="1.0f"
                    relationship="top"
                    relative="org.eclipse.ui.editorss"
                    showTitle="true"
                    standalone="false"
                    visible="true">    
            </view>
            <view
                    id="dts_project.views.mainView"
                    ratio="1.0f"
                    relationship="right"
                    relative="dts_project.views.catalogExplorerView"
                    showTitle="true"
                    standalone="false"
                    visible="true">    
            </view>
            <view
                    id="dts_project.views.propView"
                    ratio="0.5f"
                    relationship="bottom"
                    relative="dts_project.views.catalogExplorerView"
                    showTitle="true"
                    standalone="false"
                    visible="true">    
            </view>
            <view
                    id="dts_project.views.eventView"
                    relationship="stack"
                    relative="dts_project.views.catalogExplorerView"
                    showTitle="true"
                    standalone="false"
                    visible="true">    
            </view>
        </perspectiveExtension>
    </extension>
    <extension
            id="product"
            point="org.eclipse.core.runtime.products">
        <product
                application="dts_project.application"
                name="DTS_Project">
            <property
                    name="rendererFactoryUri"
                    value="bundleclass://dts_project/dts_project.renderer.CommonRendererFactory">
            </property>
            <property
                    name="appName"
                    value="DTS_Project">
            </property>
        </product>
    </extension>
    <extension
            point="org.eclipse.core.runtime.adapters">
        <factory
                adaptableType="java.util.List"
                class="dts_project.property.PropertySourceAdapterFactory">
            <adapter
                    type="org.eclipse.ui.views.properties.IPropertySource">
            </adapter>
        </factory>
    </extension>
</plugin>
